::selection {
  background-color: rgb(168, 168, 168);
  color: white;
}

p::first-letter {
  font-size: 1.1em;
  /* color: #35603f;  */
  /* float: left;  */
  /* margin-right: 0.1em; */
}
.context::before {
  content: "Начало истории: ";
  color: #ababab;
}
.context::after {
  content: " Конец истории";
  color: #ababab;
}

ul {
  list-style: none;
  padding: 0;
}
ul li::marker {
  content: "✔ ";
}
.company-name{
  font-size: 4em; 
  letter-spacing: 0.1em;
  font-weight: bold; 
  color: #ffffff;
}

.logo-container {
  width: 150px; 
  height: 150px; 
  /* overflow: hidden; */
  position: relative; 
  border-radius: 50%; 
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease; 
}

.logo {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  transition: transform 0.3s ease;
}

.logo-container:hover {
  transform: scale(1.1);
}

.logo-container:hover .logo {
  transform: rotate(10deg);
}

.certificate {
  background: linear-gradient(to bottom right, rgba(54, 54, 54, 0.8), rgba(23, 23, 23, 0.6));
  border: 10px solid linear-gradient(to bottom right, rgb(54, 54, 54), rgb(23, 23, 23));
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 600px;
  padding: 20px;
  margin: 20px auto;
  z-index: 10;
  position: relative;
  text-align: center; 
}

.certificate h1 {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
}

.certificate p {
  font-size: 1.2em;
  margin: 10px 0;
}

.history {
  margin: 20px auto;
  max-width: 600px;
  background: rgba(39, 39, 39, 0.8);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.history h2 {
  font-size: 1.8em;
  text-align: center;
}

.history ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.history li {
  padding: 5px 0;
  font-size: 1.1em;
}

.requisites {
  margin: 20px auto;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
}

.video-container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

iframe {
  width: 100%;
  height: 315px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}