.navbar {
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index:100;
  font-family: 'Dancing Script', cursive;
  border-radius: 0 0 10px 10px;
}

.navbar a, label{
    padding: 14px 16px;
}

.navbar-item {
  color: white;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-label {
  color: yellow;
  text-align: center;
  text-decoration: none;
}

.navbar-item:hover {
  background-color: #111;
  color: white;
}