{% extends 'layout.html' %}

{%block title%}Про нас{% endblock %}

{% block сontent %}
    <dl>
        <dt>Информация о компании:</dt>
        <dd>
            Агенство недвижимости <abbr title="ООО SuperRent">ByKaxxa</abbr> - это современная сеть автомобильных парковок, предоставляющая высококачественные услуги
            хранения и обслуживания транспортных средств.
            Компания была основана в 2017 году и с тех пор стремится предоставлять удобные и
            безопасные места для парковки автомобилей, мотоциклов и других транспортных средств.
        </dd>
        <dt>История по годам:</dt>
        <dd>
            <ul type="circle">
                <li><strong>2017</strong>: Основание компании "SuperRent".</li>
                <li><strong>2019</strong>: Запуск нашего первого крупного аукциона в центре Минска.</li>
                <li><strong>2023</strong>: Улучшение технологий безопасности и предоставления услуг по аренде.</li>
            </ul>
        </dd>
        <dt>Реквизиты:</dt>
        <dd>
            <ul type="circle">
                <li>Юридический адрес: ул. Гикало, 9, Минск, Беларусь</li>
                <li>УНП: 1234567890</li>
                <li>ГЛН: 0987654321</li>
                <li>Контактный телефон: +375 (29) 777-77-77</li>
                <li>Электронная почта: info@SuperRent.com</li>
            </ul>
        </dd>
    </dl>

    <div style="text-align:center; margin:auto; width:400px; background:lightgrey;">
        <p>Сертификат</p>
        <div>
            <p>Единый реестр аренды</p>
            <p><b>Свидетельство</b></p>
            <p>о внесении сведений</p>
            <p>Общество ограниченной ответственности "<i>SuperRent</i>"</p>
            <p><u>Реестровый номер: 2212</u></p>
        </div>
    </div>

    <h3>Средний возраст наших клиентов: {{mage}} лет</h3>
    <h3>Средняя стоимость аренды: {{sumRent}}$</h3>
    <h3>Общая сумма по сделкам аренды: {{sumRentReq}}$</h3>
    <h3>Средняя стоимость покупки: {{sumImm}}$</h3>
    <h3>Общая сумма по сделкам покупки: {{sumImmReq}}$</h3>

{% endblock %}