{% extends 'layout.html' %}

{%block title%}Про нас{% endblock %}

{% block сontent %}
    <h1>Информация о комании</h1>
    <p>Агентство недвижимости</p>
    <p>Недвижимость, Вид недвижимости, Сделки, Сотрудники, Владельцы, Покупатели/Арендаторы</p>

    <h3>Средний возраст наших клиентов: {{mage}} лет</h3>
    <h3>Средняя стоимость аренды: {{sumRent}}$</h3>
    <h3>Общая сумма по сделкам аренды: {{sumRentReq}}$</h3>
    <h3>Средняя стоимость покупки: {{sumImm}}$</h3>
    <h3>Общая сумма по сделкам покупки: {{sumImmReq}}$</h3>


{% endblock %}