{% extends 'layout.html' %}

{%block title%}Про нас{% endblock %}

{% block сontent %}
    <dl id="topside">
        <dt>Информация о компании:</dt>
        <dd>
            Агенство недвижимости <abbr title="ООО SuperRent">ByKaxxa</abbr> - это современная сеть автомобильных парковок, предоставляющая высококачественные услуги
            хранения и обслуживания транспортных средств.
            Компания была основана в 2017 году и с тех пор стремится предоставлять удобные и
            безопасные места для парковки автомобилей, мотоциклов и других транспортных средств.
        </dd>
        <dt>История по годам:</dt>
        <dd>
            <ul type="circle">
                <li><strong>2017</strong>: Основание компании "SuperRent".</li>
                <li><strong>2019</strong>: Запуск нашего первого крупного аукциона в центре Минска.</li>
                <li><strong>2023</strong>: Улучшение технологий безопасности и предоставления услуг по аренде.</li>
            </ul>
        </dd>
        <dt>Реквизиты:</dt>
        <dd>
            <ul type="circle">
                <li>Юридический адрес: ул. Гикало, 9, Минск, Беларусь</li>
                <li>УНП: 1234567890</li>
                <li>ГЛН: 0987654321</li>
                <li>Контактный телефон: +375 (29) 777-77-77</li>
                <li>Электронная почта: info@SuperRent.com</li>
            </ul>
        </dd>
    </dl>

    <div class="block-logo-promo">
        <div>
            <p class=""><b>Наш логотип:</b></p>
            <img class="" height="100px" src="media/CompanyLogo.png" alt="Logo">
            <a href="media/CompanyLogo.png" download>Скачать логотип</a>
        </div>
        <div>
            <p class="text-bold35"><b>Наш промо ролик:</b></p>
            <video class="promo-video" height="300px" controls loop>
                <source src="media/CompanyVideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div>
            <audio controls>
                <source src="media/audio/gimn.mp3">
            </audio>
        </div>
    </div>

    <div style="text-align:center; margin:auto; width:400px; background:lightgrey;">
        <p>Сертификат</p>
        <div>
            <p>Единый реестр аренды</p>
            <p><b>Свидетельство</b></p>
            <p>о внесении сведений</p>
            <p>Общество ограниченной ответственности "<i>SuperRent</i>"</p>
            <p><u>Реестровый номер: 2212</u></p>
        </div>
    </div>

    <h3>Средний возраст наших клиентов: {{mage}} лет</h3>
    <h3>Средняя стоимость аренды: {{sumRent}}$</h3>
    <h3>Общая сумма по сделкам аренды: {{sumRentReq}}$</h3>
    <h3>Средняя стоимость покупки: {{sumImm}}$</h3>
    <h3>Общая сумма по сделкам покупки: {{sumImmReq}}$</h3>
    <div style="text-align:center;">
        <iframe width="800" height="400" src="https://www.youtube.com/embed/BtAfPfCqUBg?si=sAdNtNtmYQNf9Mtp?mute=1"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </div>
    <a href="#topside">Наверх</a>
{% endblock %}
