{% extends 'layout.html' %}
{% load filters %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'RealtorBack/css/discounts.css' %}">
{% endblock %}

{%block title%}Скидки и акции{% endblock %}

{% block сontent %}

<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Скидка</th>
            <th>Тип недвижимости</th>
            <th>Ключ</th>
        </tr>
    </thead>
    <tbody>
        {% for el in discounts%}
        <tr>
            <td>{{ el.title }}</h3>
            <td>{{ el.text }}</h4>
            <td>{{ el.uncost|convert_cost_to_discount}}%</h4>
            <td>{{ el.ntype}}</h4>
            <td>{{ el.key }}</h4>
        </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock %}