{% extends 'layout.html' %}
{% load filters %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'RealtorBack/css/feedback.css' %}">
{% endblock %}

{%block title%}Отзывы{% endblock %}

{% block сontent %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Оставить комментарий</button>
    </form>
    
    {% for el in comments %}
    <div class="review">
        <div class="review-header">
            <div class="review-name">{{ el.user.username }}</div>
            <div class="review-rating" style="color:#ffc107;">
                {% for i in el.mark|range_filter %}★{%endfor%}{% for i in 5|sub:el.mark|range_filter %}☆{%endfor%}
            </div>
        </div>
        <p class="review-description">{{ el.text }}</p>
        <span>Дата: {{ el.data|convert_time_to_local }}</span>
    </div>


    {% endfor %}
{% endblock %}