{% extends 'layout.html' %}

{%block title%}Время{% endblock %}

{% block сontent %}
    <h1>User Time Information</h1>
    <p>User Timezone: {{ user_timezone }}</p>
    <p>User Time: {{ user_time }}</p>
    <p>UTC Time: {{ utc_time }}</p>
    <ul>
        {% for item in data_list %}
            <li>
                Name: {{ item.name }}<br>
                Created (User TZ): {{ item.created_at_user }}<br>
                Created (UTC): {{ item.created_at_utc }}<br>
                Updated (User TZ): {{ item.updated_at_user }}<br>
                Updated (UTC): {{ item.updated_at_utc }}
            </li>
        {% endfor %}
    </ul>
    <h2>Calendar</h2>
    {{ calendar_html|safe }}
{% endblock %}