{% extends 'layout.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'RealtorBack/css/vacancies.css' %}">
{% endblock %}

{%block title%}Вакансии{% endblock %}

{% block сontent %}
    <table border="1" >
    <thead >
      <tr style="background-color: rgb(55, 55, 55)">
          <th>Должность</th>
          <th>Локация</th>
          <th>Тип занятости</th>
          <th>Описание</th>
          <th>Зарплата</th>
          <th>Откликнуться</th>
      </tr>
    </thead>
    <tbody>

        {% for el in vacancion%}
            {% if forloop.counter|divisibleby:2 %}
                <tr style="background-color: rgb(40, 40, 40)">
            {% else %}
                <tr style="background-color: rgb(55, 55, 55)">
            {% endif %}
            <td>{{ el.title }}</td>
            <td>Минск </td>
            <td>Полная занятость</td>
            <td>{{ el.text }}</td>
            {% comment %} <td><a href="">jobs@SuperRent.com</a></td> {% endcomment %}
            <td>{{ el.cost }}$ в час</td>
            <td><a href="#" class="apply-button">Подать заявку</a></td>
        </tr>
        {% endfor%}
    </tbody>
    </table>

{% endblock %}