{% extends 'layout.html' %}

{%block title%}Вакансии{% endblock %}

{% block сontent %}
    <table border="1" >
    <thead>
      <tr>
          <th>Должность</th>
          <th>Локация</th>
          <th>Тип занятости</th>
          <th>Описание</th>
          <th>Контакт</th>
          <th>Зарплата</th>
          <th>Требования</th>
          <th>Опыт работы</th>
          <th>Дополнительные бонусы</th>
          <th>Срок подачи заявок</th>
      </tr>
    </thead>
    <tbody>

        {% for el in vacancion%}
            {% if forloop.counter|divisibleby:2 %}
                <tr style="background-color:lightgreen;">
            {% else %}
                <tr style="background-color:lightyellow;">
            {% endif %}
            <td>{{ el.title }}</td>
            <td>Минск </td>
            <td>Полная занятость</td>
            <td>{{ el.text }}</td>
            <td><a href="">jobs@SuperRent.com</a></td>
            <td>{{ el.cost }}$ в час</td>
            <td colspan="2">Высшее образование, коммуникабельность, опыт работы: 2 года</td>
            <td>Бонусы за достижение целей</td>
            <td>1 января 2025</td>
        </tr>
        {% endfor%}
    </tbody>
    </table>

{% endblock %}