{% extends 'layout.html' %}
{%block title%}Профиль{% endblock %}

{% block сontent %}
<section itemscope itemtype="http://schema.org/Person">
    <h2> User Name: <span itemprop="UserName"> {{ usernow.user }} </span> </h2>
    <h3> Дата рождения: <span itemprop="BirthDate"> {{ usernow.birth_date }} </span> </h3>
    <h3> ФИО: <span itemprop="Name"> {{ usernow.fullName }} </span></h3>
    <h3> Телефон: <span itemprop="TelNumber"> {{ usernow.phone }} </span></h3>
</section>
    <a href="{% url 'profileedit'%}"><li>Изменить данные</li></a>
    <a href="{% url 'profiledelete' %}"><li>Удалить профиль</li></a>


    {% if usernow.isworker == False %}
        {% if reqrent %}
            <h2>Ваша аренда:</h2>
            {% for el in reqrent %}
                <div class="div-dark-box">
                    <h3>{{ el.rent.text }}</h3>
                    {% if el.discount %}
                        <h3>Промокод: {{ el.discount.title }}</h3>
                    {% endif %}
                    <h3>{{ el.rent.cost }}</h3>
                </div>
            {% endfor %}
        {%endif%}
        {% if reqimm %}
            <h2>Ваша покупки недвижимости:</h2>
            {% for el in reqimm %}
                <div class="div-dark-box">
                    <h3>{{ el.imm.text }}</h3>
                    {% if el.discount %}
                        <h3>Промокод: {{ el.discount.title }}</h3>
                    {% endif %}
                    <h3>{{ el.imm.cost }}</h3>
                </div>
            {% endfor %}
        {%endif%}
    {% else %}
    {% endif %}

        {% if workerrent %}
            <h2>Сделки по аренде недвижимости:</h2>
            {% for el in workerrent %}
                <div class="div-dark-box">
                    <h3>Имя пользователя: {{ el.user.username }}</h3>
                    <h3>Сделка:{{ el.rent.text }}</h3>
                    {% if el.discount %}
                        <h3>Промокод: {{ el.discount.title }}</h3>
                    {% endif %}
                    <h3>{{ el.rent.cost }}</h3>
                </div>
            {% endfor %}
        {%endif%}

        {% if workerimm %}
            <h2>Сделки по недвижимости:</h2>
            {% for el in workerimm %}
                <div class="div-dark-box">
                    <h3>Имя пользователя: {{ el.user.username }}</h3>
                    <h3>Сделка:{{ el.imm.text }}</h3>
                    {% if el.discount %}
                        <h3>Промокод: {{ el.discount.title }}</h3>
                    {% endif %}
                    <h3>{{ el.imm.cost }}</h3>
                </div>
            {% endfor %}
        {%endif%}


{% endblock %}